.cpt-crop-view { position: relative; }
button { border-radius: 0; }

.listEmptyMsg { font-size:1.5em; text-align:center; padding:2em;}
.image-list .entry.post-thumbnail { border-color:#aad6f4; background-color:#efefef; }
.image-list { margin:0;padding:0;}
.image-list .entry { width:140px; float:left; border:1px solid #efefef; margin:5px;}
.image-list .entry h3 { font-weight: normal; font-size:1em; margin:0 5px; }
.image-list .entry img { width:130px; height:130px; margin:5px; }
.image-list .cursor, .image-list .cursor * { cursor:pointer;} 

.header {background-color:#efefef; padding:5px; position: relative; z-index: 1000;}
.cpt-crop-view .cptRightPane { padding:5px 5px 0 10px; border-top:3px solid #ddd; margin-top:1.5em; }
.thumbnail-list { border-top: 3px solid #efefef; padding-top:5px; margin-top:5px; }
.thumbnail-list li { padding:5px; border:2px solid white; cursor:pointer; transition: all .5s ease; }
.thumbnail-list li:hover { border:2px solid #aad6f4; background: #fff; outline: none; }
.thumbnail-list li.active { background-color:#aad6f4; border:2px solid #aad6f4; }
.thumbnail-list li span { display:block; font-size:0.8em; }
.thumbnail-list li img { max-width:100%; height: auto; max-height:250px;}
.thumbnail-list li h3 { font-size:1em; }
.thumbnail-list li .lowResWarning,
.thumbnail-list li .badParameterWarning { font-style: italic; color:#990000;}

.lbl-cpt-same-ratio {font-size:0.9em;}

.selectionArea { padding:5px; }
.selectionArea .cropContainer { margin:.3em 0 .5em; }
.selectionArea .cropContainer img { max-width: 100%; height:auto; }
.selectionArea h3 { margin:0;}
#cpt-generate { width: 100%; height:2em; font-size:1.4em; padding:0.5em 0; display:block; line-height: 0;}

h4 { margin-bottom:0em;}
.step-info { font-size:0.9em; }


.postTypeDisabledMsg, .waitingWindow { font-size: 2em; font-weight:bold; width: 100%; height:10em; text-align: center; padding: 3em 0; background: transparent url(../images/loading.gif) no-repeat center center; }
.postTypeDisabledMsg { background: none; }

.cpt-debug {clear: left; padding-left:5px;}
.cpt-debug .cpt-debug-handle { border:1px solid #aaa; background-color:#f1f1f1; padding:0.3em 1em;}
.cpt-debug.closed .content { display:none; }
.cpt-debug .content { font-family: monospace;margin-top:0.5em; }


@media(min-width:760px) {
	.selectionArea { width:410px; float:left; }
	.cpt-crop-view .cptRightPane { width:300px; float:right; border:0; border-left:3px solid #ddd; margin-top:0; }
}


#backToTop { position: fixed; z-index:999; background-color: #fff; text-align: center; right:20px; bottom:-60px; width: 50px; height: 50px; transition:all .3s linear; }
#backToTop.isVisible { bottom: 20px; opacity: 1; box-shadow: 0 0 10px rgba(0,0,0,0.3); }
#backToTop i { font-size: 25px; line-height: 25px; padding: 5px 0 0; color:#999; }
#backToTop:hover,
#backToTop:focus { outline: none; box-shadow: 0 0 5px rgba(0, 0, 0, .5); color:#fff; opacity: 1; }
#backToTop svg { width: 24px; height: 24px; margin-top:11px; }
#backToTop svg path { fill:#55aaff; }
